.container{
    width: 70%;
    margin: auto;
    background-color: turquoise;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
}
.kalkulator{
    display: flex;
}